<div class="approved-icons-list">
    <ul>
        <li><img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/1-icnip.png?v=1725089950" alt="apv img" width="112" height="112" loading="lazy"></li>
        <li><img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/2-fc.png?v=1725089950" alt="apv img" width="112" height="112" loading="lazy"></li>
    </ul>
</div>