<div class="custom-review">
    <div class="stars">
        {% render 'star-full' %}
        {% render 'star-full' %}
        {% render 'star-full' %}
        {% render 'star-full' %}
        {% render 'star-half' %}
    </div>
    <div class="text">
        267 Reviews
    </div>
</div>
<div class="bottom-text order-today">
    Order today and receive your Firebee by June 15th, 2021
</div>

