<div class="variant-border-wrap">
    <div class="variant-value starter-kit">
    <div class="top-header">
        <div class="title-and-button">
            <div class="title">Firebee Starter Kit</div>
            <div class="label">MOST POPULAR KIT</div>
        </div>
        <div class="price-section">
            <div class="compare-price">$999.00</div>
            <div class="selling-price">$379.00</div>
        </div>
        <div class="label mobile-only" style="display: none;">MOST POPULAR KIT</div>
    </div>
    <div class="list-points">
        <ul>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">Access to 7 signals (and future signal releases)</span>
            </li>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">Firebee Headband </span>
            </li>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">$19/month membership, first 2 months free</span>
            </li>
        </ul>
    </div>
    <div class="desc">
        The starter kit is the most affordable way to get started with Firebee. Pay $299 for the Firebee headband and access to the entire Firebee Signal Catalogue for only $19 a month. <strong>Membership can be cancelled anytime. No contracts. Satisfaction guaranteed.</strong>
    </div>
</div>
</div>