<div class="variant-border-wrap">
    <div class="variant-value founder-kit">
    <div class="top-header">
        <div class="title-and-button">
            <div class="title">Founder’s Kit</div>
        </div>
        <div class="price-section">
            <div class="selling-price">$799.00</div>
        </div>
    </div>
    <div class="list-points">
        <ul>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">Access to 7 signals (and future signal releases)</span>
            </li>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">Firebee Headband </span>
            </li>
            <li class="item">
                <span class="icon">
                    {% render 'green-tick' %}
                </span>
                <span class="text">No Monthly Membership</span>
            </li>
        </ul>
    </div>
    <div class="desc">
        The Founders kit allows you to get the Firebee headband and lifetime access to the entire Firebee Signal Catalogue for a one-time payment. The Founders is kit can be paid through Affirm allowing customers to make small payments of $73 a month.
    </div>
</div>
</div>