<ul class="payments-processors">
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/1-via.png?v=1725088198" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/2-mastercard.png?v=1725088199" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/3-americalexpress.png?v=1725088198" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/4-maestro.png?v=1725088199" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/5-paypal.png?v=1725088198" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
    <li>
        <img src="https://cdn.shopify.com/s/files/1/0614/7286/6458/files/6-affirm.png?v=1725088198" alt="payment processor" loading="lazy" width="50" height="30">
    </li>
</ul>