
<section class="page-width money-back">
    <div class="content-wrapper">
        <div class="img">
            {{ section.settings.money_back_image |  image_url: width: 300 |  image_tag  }}
        </div>
        <div class="text-content">
            <div class="title">30 Day Money Back Guarantee</div>
            <p class="desc">At Firebee we believe in building quality products that actually work. Firebee and its partners have invested over $85 million in research and development to create the highest quality wearable for customers to enjoy. If for any reason if you are not satisfied with your Firebee headband we will happily refund your purchase. </p>
        </div>
    </div>
</section>

{% schema %}
    {
      "name": "money back",
      "tag": "section",
      "class": "money-back",
      "settings": [
        {
          "type": "image_picker",
          "label": "money back image",
          "id": "money_back_image"
        }
      ],
      "blocks": [],
      "presets": [
        {
          "name": "money back"
        }
      ]
    }
    {% endschema %}